/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/*Стрелка у активного пункта меню*/

.theme-menu__button:disabled::before {
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

@keyframes arrow-move {
  to {
    transform: translateX(4px);
  }
}

/*Иконка сердца базовое состояние*/

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--svg-contour-color, #000);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
}

/*Иконка сердца состояния hover и active*/

.like-icon:hover .core {
  fill: var(--svg-contour-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--svg-contour-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

/*Иконка сердца состояние клика*/

.like-icon.is-liked .core {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s 0.06s linear;
}

/*Иконка сердца анимация лайка*/

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: svg-heart-scale 0.3s 0.1s ease-in alternate;
}

@keyframes svg-heart-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

/*Иконка сердца анимация искр для лайка*/
.like-icon.is-liked .sparks {
  animation: svg-heart-sparks 0.3s 0.3s ease-in alternate;
}

@keyframes svg-heart-sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
