.page {
  padding-block-start: 100px;
  color: var(--main-color, #000);
  font-family: var(--main-font-family, sans-serif);
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-image, #fff);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 400);
}

/*Общие стили для кнопок*/

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  font-family: var(--accent-font-family, fantasy, sans-serif);
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s, border 0.3s;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--main-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: center left;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-color, #000);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--blend-color, #fff);
  mix-blend-mode: difference;
}

.header,
.content {
  margin-inline: auto;
  inline-size: var(--content-width, 100%);
}

.header {
  margin-block-end: 100px;
  border: 2px solid var(--main-color, #000);
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.5313rem);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 22px;
  font-family: var(--accent-font-family, fantasy, sans-serif);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-end: 23px;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  margin-inline: auto;
  padding-inline-start: 2px;
  inline-size: 84px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s;
  cursor: pointer;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-block-start: 1px;
  inset-inline-start: -13px;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: var(--main-color, #000);
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: center left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.cards__list {
  display: grid;
  gap: 3.15rem;
}

.card {
  border: 2px solid var(--main-color, #000);
  font-family: var(--main-font-family, sans-serif);
  font-size: 18px;
  background-color: var(--bg-color, #fff);
}

.card__title {
  padding: 4px 10px 5px;
  font-size: inherit;
  line-height: 1.21;
  font-variation-settings: "wght" var(--headers-font-weight, 700);
}

.card__image-container {
  position: relative;
  border-block-start: 2px solid var(--main-color, #000);
  border-block-end: 2px solid var(--main-color, #000);
}

.card__tag {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--main-color, #000);
  font-family: var(--accent-font-family, fantasy, sans-serif);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--bg-color, #fff), 0 1px var(--bg-color, #fff),
    1px 0 var(--bg-color, #fff), 0 -1px var(--bg-color, #fff);
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--bg-color, #fff)) or
  (-webkit-text-stroke: 1px var(--bg-color, #fff)) {
  .card__tag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
  }
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__description {
  display: grid;
  gap: 27px;
  padding: 25px;
}

.card__text {
  font-size: inherit;
  line-height: 1.17;
  font-variation-settings: "wght" var(--main-font-weight, 400);
}

.card__buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 3px 0 0 0;
  background-color: transparent;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color, #000);
}

/*Стили для фильтров на картинки*/

.card__img_saturate {
  filter: saturate(2.45);
}

.card__img_sepia {
  filter: sepia(0.64);
}

.card__img_hue-rotate {
  filter: hue-rotate(160deg);
}

.card__img_invert {
  filter: invert(0.95);
}

.card__img_contrast {
  filter: contrast(1.4);
}

.card__img_opacity {
  filter: opacity(0.4);
}

.card__img_brightness {
  filter: brightness(1.32);
}

.card__img_multiple-filter {
  filter: sepia(0.9) grayscale(1) brightness(0.5) blur(1px);
}

.card__like-button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  padding: 1px;
  inline-size: 130px;
  block-size: 38px;
}

.save-area {
  display: flex;
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: 103px;
}

.save-icon {
  position: relative;
  z-index: 1;
  color: var(--blend-color, #fff);
  inline-size: 21px;
  mix-blend-mode: difference;
}

.save-area__button {
  position: relative;
  gap: 8px;
  border: 2px solid var(--main-color, #000);
  padding-inline: 2px;
  padding-block: 15px;
  inline-size: 100%;
  max-inline-size: 339px;
}

/*Модальное окно*/

.dialog__save-window[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 2px solid var(--main-color, #000);
  padding: 30px;
  color: var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  max-inline-size: 357px;
  inline-size: 100%;
  overflow: hidden;
}

.dialog__save-window::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__content {
  display: flex;
  gap: 20px;
  font-family: var(--accent-font-family, fantasy, sans-serif);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__save-icon {
  max-inline-size: 39px;
  inline-size: 100%;
}

.dialog__close-button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  padding: 4px;
  text-transform: uppercase;
  inline-size: 293px;
  block-size: 38px;
}

/*Стили для мобильных экранов*/

@media (width < 376px) {
  .theme-menu__list {
    padding-inline-start: 4px;
  }

  .cards__list {
    gap: 3.19rem;
  }

  .card__title {
    padding: 5px 10px 3px;
  }

  .card__description {
    padding-inline-end: 26px;
  }

  .save-area__button {
    flex-direction: column;
    padding-block-start: 16px;
    inline-size: 310px;
  }

  .save-icon {
    inline-size: 28px;
  }

  .dialog__save-window[open] {
    padding-inline: 40px;
    max-inline-size: 341px;
  }

  .dialog__close-button {
    max-inline-size: 257px;
  }
}
