/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding-block-start: 100px;
  color: var(--main-color, #000);
  font-family: var(--main-font-family, sans-serif);
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-image, #fff);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 400);
}

.page:has(.dialog__save-window[open]) {
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  font-family: var(--accent-font-family, fantasy, sans-serif);
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s, border 0.3s;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--blend-color, #fff);
  mix-blend-mode: difference;
}

.header,
.content {
  margin-inline: auto;
  color: var(--main-color, #000);
  inline-size: var(--content-width, 100%);
  max-inline-size: 700px;
}

.header {
  margin-block-end: 100px;
  border: 2px solid var(--main-color, #000);
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.5313rem);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 22px;
  font-family: var(--accent-font-family, fantasy, sans-serif);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-end: 23px;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  margin-inline: auto;
  inline-size: 84px;
  padding-inline-start: 2px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s;
  cursor: pointer;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -15px;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: var(--main-color, #000);
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: center left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.cards__list {
  display: grid;
  gap: 3.15rem;
}

.card {
  border: 2px solid var(--main-color, #000);
  font-family: var(--main-font-family, sans-serif);
  font-size: 18px;
  background-color: var(--bg-color, #fff);
}

.card__title {
  padding: 4px 10px 5px;
  font-size: inherit;
  line-height: 1.21;
  font-variation-settings: "wght" var(--headers-font-weight, 700);
}

.card__image-container {
  position: relative;
  border-block-start: 2px solid var(--main-color, #000);
  border-block-end: 2px solid var(--main-color, #000);
}

.card__tag {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--main-color, #000);
  font-family: var(--accent-font-family, fantasy, sans-serif);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--bg-color, #fff), 0 1px var(--bg-color, #fff),
    1px 0 var(--bg-color, #fff), 0 -1px var(--bg-color, #fff);
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--bg-color, #fff)) or
  (-webkit-text-stroke: 1px var(--bg-color, #fff)) {
  .card__tag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
  }
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__description {
  padding: 25px;
}

.card__text {
  font-size: inherit;
  line-height: 1.17;
  font-variation-settings: "wght" var(--main-font-weight, 400);
}

.card__text:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  padding: 3px 0 0 0;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color, #000);
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--svg-contour-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--svg-contour-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  fill: var(--svg-contour-color, #000);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--svg-fill-color, #ff0000);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: svg-heart-scale 0.3s 0.1s ease-in backwards;
}

@keyframes svg-heart-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: svg-heart-sparks 0.3s 0.3s ease-in backwards;
}

@keyframes svg-heart-sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card__like-button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  padding: 1px;
  inline-size: 130px;
  block-size: 38px;
}

.save-icon {
  position: relative;
  z-index: 1;
  color: var(--blend-color, #fff);
  inline-size: 21px;
  mix-blend-mode: difference;
}

.save-area {
  display: flex;
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: 103px;
}

.save-area__button {
  position: relative;
  gap: 8px;
  border: 2px solid var(--main-color, #000);
  padding-inline: 2px;
  padding-block: 15px;
  inline-size: 100%;
  max-inline-size: 339px;
}

.card__like-button::after,
.save-area__button::after,
.dialog__close-button::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--main-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: center left;
  block-size: 100%;
  inline-size: 100%;
}

.card__like-button:hover::after,
.save-area__button:hover::after,
.dialog__close-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus-visible,
.save-area__button:focus-visible,
.dialog__close-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-color, #000);
}

.dialog__save-window[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 2px solid var(--main-color, #000);
  padding: 30px;
  max-inline-size: 357px;
  inline-size: 100%;
}

.dialog__save-window::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__content {
  display: flex;
  gap: 20px;
  font-family: var(--accent-font-family, fantasy, sans-serif);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__save-icon {
  max-inline-size: 39px;
  inline-size: 100%;
}

.dialog__close-button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  padding: 4px;
  inline-size: 293px;
  block-size: 38px;
}

@media (width < 376px) {
  .header {
    padding-block-end: 20px;
  }

  .theme-menu__list {
    padding-inline-start: 4px;
  }

  .cards__list {
    gap: 3.19rem;
  }

  .card__title {
    padding: 5px 10px 3px;
  }

  .card__description {
    padding-inline-end: 26px;
  }

  .save-area__button {
    flex-direction: column;
    inline-size: 310px;
    padding-block-start: 16px;
  }

  .save-icon {
    inline-size: 28px;
  }

  .dialog__save-window[open] {
    max-inline-size: 341px;
    padding-inline: 40px;
  }

  .dialog__close-button {
    max-inline-size: 257px;
  }
}
